<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3"><h1 class="title">EduValue</h1></div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']"> Register </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
              Contact Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
              Creative Tim
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://creative-tim.com/blog?ref=blkdsa-footer">
              FlatIcon
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://opensource.org/licenses/MIT">
              NucleoIcons
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="title">Contáctame:</h3>
        <div class="btn-wrapper">
          <a
            class="btn btn-neutral btn-icon mr-2"
            href="https://twitter.com/xbastidax"
            target="_blank"
          >
          <img src="assets/img/twitter.svg" />
          </a>
          <a
            class="btn btn-neutral btn-icon mr-2"
            href="https://github.com/JMBastida/EduValue"
            target="_blank"
          >
          <img src="assets/img/github.svg" />

          </a>
          <a
            class="btn btn-neutral btn-icon"
            href="https://www.linkedin.com/in/jorge-mart%C3%ADnez-bastida-14b7ab163/"
            target="_blank"
          >
          <img src="assets/img/linkedin.svg"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
