
<div class="overlay modal modal-black" (click)="onOverlayClicked($event)">
  <div class=" modal-dialog  w-100" (click)="onDialogClicked($event)">
    <div class="modal-content ">
        <button
          aria-hidden="true"
          class="closeModal"
          data-dismiss="modal"
          (click)="this.close({})"
          type="button"
        >
          <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <ng-template appInsertion> </ng-template>
    </div>
  </div>
</div>
