<div class="modal-header justify-content-center">
  <div class="text-muted text-center ml-auto mr-auto">
    <h3 class="mb-0">Valora tu centro</h3>
    <small> Valorar objetivamente es lo que ayudará a otros</small>
  </div>
</div>
<div class="modal-body">
  <div class="row justify-content-center">
    <div class="col-auto">
      <tabset type="pills" class="nav-pills-warning nav-pills-icons">
        <tab>
          <ng-template tabHeading>
            <i class="tim-icons"
              ><img width="40px" src="../../assets/img/universidad.png"
            /></i>
            Universitario
          </ng-template>
        </tab>
        <tab>
          <ng-template tabHeading>
            <i class="tim-icons"
              ><img width="40px" src="../../assets/img/colegio.png"
            /></i>
            No Universitario
          </ng-template>
        </tab>
      </tabset>
    </div>
  </div>
  <div #universitarios>
    <div class="row justify-content-center">
      <university-filters
        (searchcriteria)="searchThis($event)"
        style="width: 55%"
      ></university-filters>
    </div>
    <div class="row justify-content-center m-3 university-list text-center">
      <div
        *ngFor="let item of universitiesList | appFilter: searchFilter; let i = index"
        class="col-md-6 p-2"
      >
      <a [routerLink]="['/universidad/', item.codigo_universidad]" class="btn btn-link" role="button" [ngClass]="(i  % 2 == 0)? 'btn-danger': 'btn-warning'" (click)="close($event)">{{item.universidad}}</a>
      </div>
    </div>
  </div>
</div>
