    <div class="modal-header justify-content-center">
      <div class="text-muted text-center ml-auto mr-auto">
        <h3 class="mb-0">Sign in with</h3>
      </div>
    </div>
    <div class="modal-body">
      <div class="btn-wrapper text-center">
        <a class="btn btn-neutral btn-icon mr-1" href="javascript:void(0)">
          <img src="assets/img/github.svg" />
        </a>
        <a class="btn btn-neutral btn-icon" href="javascript:void(0)">
          <img src="assets/img/google.svg" />
        </a>
      </div>
      <div class="text-center text-muted mb-4 mt-3">
        <small> Or sign in with credentials </small>
      </div>
    </div>
