.rating-page {
  min-height: 60vh;
  margin: 5%;
  max-width: 1400px;
  align-items: center;
  display: flex;
  justify-content: center;
}

textarea{
  border: solid 1px #344675;
  border-radius: 15px 15px;
  color: #fd5d93;
}


